*{
    margin:0px;
    padding:0px;
}
/* ETIQUETAS */
nav{
    width: 100vw;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    margin-top: 5rem;
}
footer{
    margin-top: 10rem;
    padding: 2rem 0rem 2rem 0rem;
    width: 100vw;

    background-color: rgb(244, 246, 251);
}

footer {
    background-color: #176fa6;
    color:#fff;
    padding: 20px 0;
    text-align: center;
}

form {
    display:none;
    margin-bottom: 15vh;
}

/* CLASES */
.index{    
    /* background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6)),  url('/img/alojamiento/alojamientohotela.jpg');    
    background-size: cover;
    background-repeat: no-repeat; */
}
.section_listCommunity{
    display: flex;
    justify-content: center;
    
}
.btnCommunity{
    padding: 1em 2em 1em 2em;
    border: 3px solid white;
}
.btnExit{
    padding: 0em 2em 0em 2em;
}
.section_formLogin{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    display: inline;
    margin-right: 10px;
}

.footer-content .social-links a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    line-height: 30px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.footer-content .social-links a:hover {
    background-color: #555;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #333; /* Cambia el color de los íconos si es necesario */
}

.social-links a:hover {
    color: #555; /* Cambia el color al pasar el cursor por encima si es necesario */
}
.contact_info{
    color:aliceblue;
}
.listCommunity{
    width:60%;
}