*{
    margin:0px;
    padding:0px;
}
/* ETIQUETAS */
nav{
    width: 100vw;
}
main{
    min-height: 80vh;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    margin-top: 3rem;
}

footer {
    margin-top: 10rem;
    padding: 2rem;
    width: 100vw;
    background-color: #176fa6;
    color:#fff;
    text-align: center;
}

form {
    display:none;
    margin-bottom: 15vh;
}

/* CLASES */

.index{    
    background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6)), url(../img/imperdibles/exampleimperdibles.jpg);    
    background-size: cover;
    background-repeat: no-repeat; 
}
.section_listCommunity{
    display: flex;
    justify-content: center;
    
}

.btnCommunity{
    padding: 1em 2em 1em 2em;
    border: 3px solid rgb(191, 231, 247);
    color:white;
}
.btnCommunity:hover{
    border: 3px solid rgb(35, 161, 199);
    color:#195c82;
}
.btnExit{
    padding: 0em 2em 0em 2em;
}
.section_formLogin{
    width: 100vw;
    padding: 2rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(35, 59, 95, 0.305);
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    display: inline;
    margin-right: 10px;
}

.footer-content .social-links a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    line-height: 30px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.footer-content .social-links a:hover {
    background-color: #555;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #333; /* Cambia el color de los íconos si es necesario */
}

.social-links a:hover {
    color: #555; /* Cambia el color al pasar el cursor por encima si es necesario */
}
.contact_info{
    color:aliceblue;
}
.listCommunity{
    width:60%;
}